# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtual environment
rtd_venv/

# packaging
rtd_code_python.egg-info/

# urdfs
urdfs/

# vscode
.vscode/

# sphinx
docs/build/

# Generated documentation
_build/
docs/build/
docs/source/**/generated/
docs/_site
_site
docs/dev

# MACOS
.ds_store
.DS_Store
.DS_STORE
